* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  transition: all 0.7s ease-in-out;
}

:root {
  --primaryColor: salmon;
  --secondaryColor: #53403d;
  --transition: all 0.7s ease-in-out;
}

body {
  background-color: var(--secondaryColor);
  color: white;
  padding-top: 30px;
}

h2 {
  margin-bottom: 20px;
}

a, a:visited {
  text-decoration: none;
  color: var(--primaryColor);
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 98, 85);
}

/* Title */

h1 {
  text-align: center;
}

h1 i {
  animation: wheel 2s linear infinite;
}

h1 i:hover {
  animation-duration: 0.1s;
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}

/* Container */

section {
  width: 90%;
  margin: 30px auto;
}

/* Buttons */

.button {
  display: inline-flex;
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

/* Hover */

#hover1 i {
  margin-left: 10px;
}

#hover1:hover i {
  transform: rotate(90deg);
}

#hover1:hover {
  background-color: var(--primaryColor);
}

#hover2 {
  transition-duration: 0.3s;
}

#hover2:hover i {
  animation: bottomToTop 0.3s ease-in-out;
}

@keyframes bottomToTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
  }
}

#hover2:hover {
  transform: scale(0.9);
  background-color: var(--primaryColor);
}

#hover3 {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

#hover3:hover {
  animation: pump 0.7s ease-in-out;
}

@keyframes pump {
  40% {
    transform: scale(1.2);
    background-color: var(--primaryColor);
  }
}

#hover4 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

#hover4:hover {
  transform: translateX(30%);
  background-color: var(--primaryColor);
}

#hover5 {
  border: none;
  transition-duration: 0.3s;
}

#hover5:hover {
  transform: rotate(90deg);
}

#hover6::before {
  content: "";
  background-color: var(--primaryColor);
  position: absolute;
  z-index: -1;
  width: 120%;
  height: 0%;
  transition: var(--transition);
  transform: rotate(25deg);
}

#hover6:hover::before {
  height: 180%;
}

#hover7::before {
  content: "";
  background-color: var(--primaryColor);
  transition: var(--transition);
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 0%;
}

#hover7:hover::before {
  height: 100%;
}

#hover7:hover {
  transform: scale(0.9);
}

#hover8::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--primaryColor);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  border-radius: 100%;
  transition: var(--transition);
}

#hover8:hover::before {
  transform: scale(2);
}

#hover9 i {
  text-align: center;
  margin-left: 10px;
}

#hover9:hover {
  background-color: var(--primaryColor);
}

#hover9:hover i {
  transform: translateX(100px);
}

#hover9:hover span {
  transform: translateX(15px);
}

#hover10 {
  border: none;
}

#hover10::before, #hover10::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#hover10::before {
  top: 30%;
}

#hover10::after {
  top: 60%;
  right: -50%;
}

#hover10:hover::before {
  transform: translateX(50%);
}

#hover10:hover::after {
  transform: translateX(-50%);
}

/* Click */

.menu-burger {
  padding: 0;
  width: 80px;
  height: 80px;
}

.menu-burger__btn {
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
}

.menu-burger__btn::before, .menu-burger__btn::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  transition: var(--transition);
}

.menu-burger__btn::before {
  transform: translateY(-16px);
}

.menu-burger__btn::after {
  transform: translateY(16px);
}

.menu-burger.open .menu-burger__btn {
  transform: translateX(-50px);
  background: transparent;
}

.menu-burger.open .menu-burger__btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-burger.open .menu-burger__btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#click2 {
  height: 20px;
  width: 100px;
  overflow: visible;
  border-radius: 50px;
  border: 1px solid white;
  transition: none;
}

#click2::before {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #A16D65;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  left: -10px;
}

.on {
  background-color: var(--primaryColor);
}

.on::before {
  transform: translateX(70px);
  background-color: rgb(207, 98, 85) !important;
}

/* About */

.about p {
  text-indent: 5%;
}